@import "./theme.css";

.timers {
  display: grid;
  margin-top: 4vh;
  margin-left: 2vw;
  height: 91vh;
  width: 91vw;
  grid-template:
    "d d d d" 0.5fr
    "z a a b" 3fr
    "c c c c" 1fr;
  /* I have no idea how to apply this column restriction to
  the grid-template */
  grid-template-columns: repeat(4, 185px);
}

.timer {
  grid-area: a;
}

.timer-picker {
  grid-area: b;
}

.toolbar {
  grid-area: c;
}

.timer-header {
  grid-area: d;
}

/* This is just a placeholder area to space elements properly
in the grid. */
.timer-sidebar {
  grid-area: z;
}

/* These are rules specific to buttons */
:disabled > .time-button {
  color: transparent;
}

.time-button {
  width: 3em;
  height: 3em;
}

/* Classes to apply to get animations going for an icon */
.ping {
  -webkit-animation: ping 0.2s ease-in-out 1 both;
  animation: ping 0.2s ease-in-out 1 both;
}

.pulsate-bck {
  -webkit-animation: pulsate-bck 100ms ease-out 1 both;
  animation: pulsate-bck 100ms ease-out 1 both;
}
