.timer-picker {
  display: grid;
  height: 60vh;
  row-gap: 3em;
  grid-template:
    "a" 1fr
    "b" 1fr
    "c" 1fr;
}

/* standard dot in the timer-picker */
.dot {
  color: var(--txt1);
  width: 0.7rem;
  height: 0.7rem;
}

.dot-new {
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
}

.dot-active {
  color: var(--txt2);
}

.dot-array {
  display: flex;
  flex-direction: column;
  padding-inline-start: 90px;
  grid-area: b;
}

.timer-picker-up {
  width: 1em;
  height: 1em;
  grid-area: a;
}

:disabled .timer-picker-up {
  color: transparent;
}

.timer-picker-down {
  width: 1em;
  height: 1em;
  grid-area: c;
}

:disabled .timer-picker-down {
  color: transparent;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
}
