.timer {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.timer-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.timer-name {
  font-family: "MPlusRoundedC";
  font-weight: bold;
  font-size: 2em;
  max-width: 5em;
}

.timer-mins {
  font-size: 1.2em;
}

.timer-mins:disabled {
  background-color: transparent;
}

.timer-secs:disabled {
  background-color: transparent;
}

.timer-time {
  font-family: "Inter", sans-serif;
  font-size: 5em;
}

.timer-time > input {
  max-width: 1.25em;
}
