/* TODO: doesn't do anything, inherits automatically from button in index */
.toolbar-btn {
  border: none;
  background-color: transparent;
}

.all-timers-btn {
  width: 3.5em;
}

.play-btn {
  width: 4.5em;
  margin-left: 2em;
}

.save-btn {
  width: 3em;
  margin-bottom: -1.5em;
  margin-top: -2.5em;
}

.delete-btn {
  width: 3em;
  margin-bottom: -1.5em;
  margin-top: -2.5em;
}

.new-timer-btn {
  width: 7em;
}

.restart-btn {
  width: 4em;
}

.stats-btn {
  width: 3em;
}

.edit-btn {
  width: 3.5em;
  margin-left: 2em;
}

.disabled {
  opacity: 40%;
}

.pause-btn {
  width: 4em;
}
